@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
	/* width: auto;
    height: auto; */
	--scroll-behavior: smooth !important;
	scroll-behavior: smooth !important;
	/* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

body {
	font-family: var(--custom-font-ysabeau0);
}

@layer base {
	/* base font size in percentage then change font-size and some other values to rem for browser font-size change to work */
	/* 1rem = 16px and 100% = 16px so 62.5% = 10px, and with 62.5% (10px) then 2rem = 20px */
	html {
		@apply w-full h-full text-[62.5%];
	}
	body {
		@apply w-full h-full min-h-[100vh] flex flex-col;
	}
	/* @media (hover: none) {
        @apply hover:none
    } */
}

@layer components {
	/* ... */
	/* @screen lg { // applying font size for lg breakpoint
  } */
}
